# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
.env/
.venv/
env/
venv/

# Data and output
dataset/
outputs/
*.h5
*.pth
*.pt
*.npz

# LaTeX build artifacts
*.aux
*.log
*.toc
*.out
*.lof
*.lot
*.gz
*.blg
*.bbl
*.synctex.*
*.fdb_latexmk
*.fls

# OS files
.DS_Store
Thumbs.db

# VSCode settings (optional)
.vscode/
